/* LAYOUTS */


/* Columns with CSS Grid */
/* 2 columns */
.grid2 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1em;
}

/* 3 columns */
.grid3 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1em;
}

/* 4 columns */
.grid4 {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 1em;
}

/* 5 columns */
.grid5 {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 1em;
}

/* 6 columns */
.grid6 {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	gap: 1em;
}



/* FLEX LAYOUTS */

/* Inline no wrap */
.flexRow {
	display: flex;
	flex-direction: row;
}


/* Column no wrap */
.flexColumn {
	display: flex;
	flex-direction: column;
}


/* Items inline with wrap */
.flexRowWrap {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.flexRowWrap > * {
	flex: 1 1 200px; 
	/* width of item is defined as 200px above, modify it according to your need */
}




/* ALIGNMENT */

/* center item with margins */
.centMargins {
	margin: 0 auto;
	display:  block;
}

/* Container with centered items horizontally */
.hcenter {
	display: flex;
	justify-content: center;
}


/* Container with centered items vertically */
.vcenter {
	display: flex;
	align-items: center;
}


/* Container with centered items vertically and horizontally */
.allcenter {
	display: flex;
	align-items: center;
	justify-content: center;
}


/* CONTAINERS */


/* Full-width container */
.fullWidth {
	width: 100%;
}


/* Limited width centered container */
.boxedWidth {
	display: block;
	margin: 0 auto;
	width: 80%;
	/* change the width from above to make it take more or less space, keep % */
}


/* Container taking 100% of width and height of the viewport */
.splashView {
	height: 100vh;
	width: 100vw;
}


/* POSITIONED ELEMENTS */

/* Element fixed to a specific coordinates of the viewport */
.fixedItem {
	position: fixed;
	bottom: 20px;
	right: 20px;
	left: 0px;
	right: 0px;
	/* four coordinates to decide where you want to position the element */
}


/* Element rendered normally initially and once it hits one of the coordinates provided becomes fixed there */
.stickyItem {
	position: sticky;
	bottom: 20px;
	right: 20px;
	left: 0px;
	right: 0px;
	/* four coordinates to decide where you want to "stick" the element */
}


/* Fixed in the certain place relative to the parent element */
/* apply on the parent */
.relativeParent {
	position: relative;
}
/* apply on the child */
.fixedChildItem {
	position:  absolute;
	top: 20px;
	left: 20px;
	right: 0px;
	bottom: 0px;
	/* four coordinates to decide where you want to fix the element relative to the parent */
}


