html {
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
	font-weight: 300;
	font-style: normal;
}

/* body {
	margin: 0;
} */


code, xmp {
	/* padding: 1em; */
	background-color: #2f2f2f;
	color:  white;
	display: inline-block;
}

h1,h2,h3,h4,h5,h6 {
	margin-bottom: 1.5em;
}


img {
	width: 50%;
}

hr.internalsSectionSeparator {
    /* color: pink; */
    height: 10px;
    background-color: gold;
    border: 1px solid gold;
}

hr.internalsInnerSeparator {
    /* color: pink; */
    height: 5px;
    background-color: #30E349;
    border: 1px solid #30E349;
}

article {
	background-color: #cfcfcf;
}

.internalsNote {
	border-left: 2px grey solid;
	/* padding: 1em; */
}

.internalsBigContainer {
	width: 100%;
	min-height: 30vh;
	background-color: #cfcfcf;
}

section > div {
	background-color: #cfcfcf;
}

code,xmp {
	padding: .5rem;
}

article.relativeParent {
	height: 300px;
}

.relativeParent > img {
	width: 30px;
}